*
!*.*
!*/
.DS_Store
.ccls-cache
*.pyc
/Solutions/rustlang_book/target
/Solutions/Kata/rust/target
/Solutions/Leetcode/rust/target
/Solutions/rustlang_book/test_projects/embed/target
/Solutions/rust/gigasecond/target
/Solutions/rust/clock/target
/Solutions/rustlang_book/gui/target
/Experiments/rust/target
